body, html {
	background-color: #000000;
	color: #4a4a4a;
	font-family: "Lato", Arial;
	margin: 0;
	padding: 0;
}
a {
	color: #179faa;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.canvas {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.drop-area {
	position: absolute;
	top: 0;
	z-index: 101;
	text-align: center;
	width: 100%;
}
.info {
	position: absolute;
	bottom: 20px;
	right: 10px;
	z-index: 100;
	font-size: 12px;
	line-height:20px;
	text-align: right;
}
.log {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 20px;
	color: #555555;
	font-family: 'Lato';
	font-size: 14px;
	text-align: left;
}
.drop-text {
	position: relative;
	top: 40%;
	color: #4a4a4a;
	font-size: 18px;
}
.hidden {
	display: none;
}
.pointer {
	cursor: pointer;
}
.nav a {
	cursor: pointer;
	font-size: 18px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	transition: 0.2s;
}

.nav a:hover {
	color: #c03d1b;
	text-decoration: none;
}